<html>
    <body>
    
       
     <nav class="navbar navbar-expand-sm bg-primary navbar-dark" th:fragment ="navFragment" >
				
			<ul class="navbar-nav">
			<li class="nav-item">
			<a class="nav-link" href="/">Home</a>
			</li>
			
			<li class="nav-item">
			<a class="nav-link" href="/belfastWeather">Belfast Weather</a>
			</li>
			
			<li class="nav-item">
			<a class="nav-link" href="/londonWeather">London Weather</a>
			</li>
			
			<li class="nav-item">
			<a class="nav-link" href="/dublinWeather">Dublin Weather</a>
			</li>
			
		
			</ul>
		</nav>
</body>
</html>
